/*==============================
    1. VARIABLES
==============================*/
:root{
    /* Colors */
    --purple: #23031f;
    --purple-light: #4c1457;
    --purple-main: rgb(50,19,52);
    --purple-secondary: rgb(104,40,70);

    --pink: #b12b71;
    --yellow: rgb(251,202,104);
    --orange: rgb(227,94,48);
    --cream: rgb(231,217,206);

    --text: #fff;
    --panel: rgba(80,20,70,.55);

    /* Sizes */
    --section-padding: 7rem 8%;
    --radius-large: 50px;
    --radius-medium: 25px;

    /* Font size */
    font-size: large;
}

/*==============================
    2. RESET
==============================*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Outfit',sans-serif;
    background:black;
    color:var(--text);
}

img{
    display:block;
    width:100%;
}

section{
    padding:var(--section-padding);
}


/*==============================
    3. NAVBAR
==============================*/
.navbar{
    position:fixed;
    top:2rem;
    left:50%;
    transform:translateX(-50%);

    width:min(90%,1400px);

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:1rem 3rem;

    background:#2b1036;
    border-radius:var(--radius-large);

    z-index:1000;
}

.nav-links{
    display:flex;
    gap:3rem;
    list-style:none;
}

.nav-links a{
    color:var(--text);
    text-decoration:none;
}

.logo img{
    width:auto;
    height:30px;
}



/*==============================
    4. HERO
==============================*/
.hero{
    position:relative;
    
    min-height:100vh;

    display:flex;
    grid-template-columns:4fr 3fr;
    align-items:center;
    overflow: hidden;
    background:
        radial-gradient(
            circle at 70% 20%,
            rgba(255,140,0,.35),
            transparent 35%
        ),

        radial-gradient(
            circle at 20% 20%,
            rgba(255,0,100,.35),
            transparent 40%
        ),

        #150016;
}

.hero-content{
     position:relative;
    z-index:2;

    max-width:700px;
    margin-left:8%;
}

.hero h1{
    font-family:'Nunito',sans-serif;
    z-index: 2;
    font-size:6rem;
    line-height:1.1;
    margin-bottom:2rem;
}

.hero p{
    
    font-size:2rem;
    z-index: 2;
    margin-bottom:2rem;
}

.hero button{
    padding:1rem 2rem;

    border:none;
    border-radius:var(--radius-large);

    background:var(--yellow);
    color:black;

    font-family:'Nunito',sans-serif;
    font-size:large;
    font-weight:bold;

    cursor:pointer;
}

.hero-image{
    position:absolute;
    z-index: 1;
    right:0;
    bottom:0;

    width:50%;
    height:100%;

    display:flex;
    align-items:flex-end;
    justify-content:center;

    pointer-events:none;
}

.hero-image img{
    max-height:90vh;
    width:auto;
}

/*==============================
    5. SECTIONS
==============================*/
.values{
    text-align:center;
    color:#2d1033;

    background:
        linear-gradient(
            180deg,
            #f4d881,
            #f28b4f
        );
}

.cards{
    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(300px,1fr));

    gap:2rem;
    margin-top:4rem;
}

.card{
    padding:3rem;

    background:rgba(90,30,50,.45);
    color:white;

    border-radius:var(--radius-medium);
    backdrop-filter:blur(10px);
}

.mission,
.vision{
    padding-top: 1rem;
    padding-bottom: 2rem;
    position: relative;
    text-align:center;

    background:
        radial-gradient(
            circle,
            rgba(255,100,100,.25),
            black 70%
        );
}

.vision{
    padding-bottom: 6rem;
}

.mission h1 {
    text-align: left;
    font-size: 3rem;
}

.vision h1 {
    text-align: right;
    font-size: 3rem;
}

.panel{
    max-width:1100px;
    margin:auto;
    padding:3rem;

    background:rgba(70,20,50,.55);

    border-radius:var(--radius-medium);
    backdrop-filter:blur(12px);
}

/*==============================
    6. ABOUT
==============================*/
.about{
    position:relative;
    overflow:hidden;
    

    background:
        linear-gradient(
            90deg,
            var(--purple-main) 0%,
            var(--purple-main) 40%,
            rgb(15,8,18) 65%,
            black 100%
        );
    
}

.about::before{
    content:"";

    position:absolute;
    inset:0;

    background-image:
        url("../assets/icons/cross-purple.svg");
    background-repeat:repeat;
    background-size:120px;
    opacity:.08;

    pointer-events:none;
    z-index:1;

    animation:
        crossDrift 15s ease-in-out infinite,
        crossGlow 8s ease-in-out infinite;
}

.about-top,
.about-content{
    max-width:1200px;
    margin:0 auto;
    padding:0 2rem;
}
/*==============================
    7. COMING SOON
==============================*/
.juego{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #150016;
}

.juego h1 {
    font-size: 3rem;
}

.coming-soon-image{
    max-width: 600px;
}

/*==============================
    7. ASSETS
==============================*/
.asset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #150016;
}

.asset-images{
    display: flex;
    flex-direction: row;
    gap: 20px; 
    width: 100%;
    max-width: 1200px;
}

.asset-image{
    width: 100%;
    max-width: 350px;
    height: auto;
}

/*==============================
    7. DECORATIONS
==============================*/
.cross{
    position:absolute;
    z-index: 0;
    width:100px;
    pointer-events:none;
}

.cross1{
    top:10%;
    left:10%;
    animation:float 5s ease-in-out infinite;
}

.cross2{
    top:30%;
    right: 20%;
    width:50px;
    animation:float 7s ease-in-out infinite;
}

.cross3{
    top:40px;
    right:60px;
    animation:float 6s ease-in-out infinite;
}

.cherry-icon{
    width:40px;
    height:auto;
    display: block;
    margin: 0 auto;
    
}

.mission-title,
.vision-title{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mission-title::after{
    content: "";
    width: 150px;
    height: 150px;
    background: url("../assets/icons/sword-white.svg") center/contain no-repeat;
}

.vision-title{
    justify-content: flex-end;
}

.vision-title::before{
    content: "";
    width: 150px;
    height: 150px;
    background: url("../assets/icons/sword-white.svg") center/contain no-repeat;
    transform: scaleX(-1);
}



/*==============================
    8. FOOTER
==============================*/
footer{
    padding:1rem 15%;
    padding-bottom: 5rem;

    display:flex;
    justify-content:space-between;
    /*align-items: center;*/
    height: 200px;

    background:#120013;
}

.footer-logo img{
    height:150px;
    width:auto;  
    
}

/*==============================
    9. ANIMATIONS
==============================*/
@keyframes float{
    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-15px);
    }
}

@keyframes crossDrift{
    0%,100%{
        background-position:0 0;
    }

    50%{
        background-position:25px -20px;
    }
}

@keyframes crossGlow{
    0%,100%{
        opacity:.05;
        filter:brightness(.9);
    }

    50%{
        opacity:.13;
        filter:brightness(1.4);
    }
}